* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    padding: 2.5rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 5.2rem;
    margin-bottom: 4.8rem;
}

h2 {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
}

h3 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

p {
    margin-bottom: 3.2rem;
}

a:link,
a:visited {
    color: #1c7ed6;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

form label {
    display: block;
    margin-bottom: 1.2rem;
}

form input,
textarea {
    border: 2px solid #ddd;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.8rem;
    border-radius: 4px;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    width: fit-content;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    border-radius: 4px;
    padding: 1.2rem 1.6rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn--add-user:link,
.btn--add-user:visited {
    background-color: #666;
    color: #fff;
}

.btn--edit-user:link,
.btn--edit-user:visited,
.btn--add-post:link,
.btn--add-post:visited,
.btn--edit-post:link,
.btn--edit-post:visited,
.btn--add-tag:link,
.btn--add-tag:visited,
.btn--edit-tag:link,
.btn--edit-tag:visited {
    background-color: #1c7ed6;
    color: #fff;
}

.btn--edit-user:hover,
.btn--edit-user:active,
.btn--add-post:hover,
.btn--add-post:active,
.btn--edit-post:hover,
.btn--edit-post:active,
.btn--add-tag:hover,
.btn--add-tag:active,
.btn--edit-tag:hover,
.btn--edit-tag:active {
    background-color: #1864ab;
}

.btn--delete {
    background-color: #fa5252;
    color: #fff;
}

.btn--delete:hover {
    background-color: #c92a2a;
}

.btn--add,
.btn--save,
.btn--edit {
    background-color: #37b24d;
    color: #fff;
}

.btn--add:hover,
.btn--save:hover,
.btn--edit:hover {
    background-color: #2f9e44;
}

.btn--cancel:link,
.btn--cancel:visited {
    border: 1px solid #339af0;
    color: #339af0;
}

ul {
    margin: 0 0 2.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

ul a {
    text-decoration: none;
}

.user {
    display: flex;
    align-items: flex-start;
    gap: 4.8rem;
}

.user-img-box {
    width: 25%;
}

.user-img {
    width: 100%;
}

.user-content-box div {
    display: flex;
    gap: 1.2rem;
}

.buttons {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 3.2rem;
}
