{% extends 'base.html' %} {% block title %}{{user.full_name}}{% endblock %} {%
block content %}
<div class="user">
    <div class="user-img-box">
        <img
            src="{{user.image_url}}"
            alt="Image of {{user.get_full_name()}}"
            class="user-img"
        />
    </div>
    <div class="user-content-box">
        <h2>{{user.full_name}}</h2>
        <div class="buttons">
            <a href="/users/{{user.id}}/edit" class="btn btn--edit-user"
                >Edit</a
            >
            <form action="/users/{{user.id}}/delete" method="POST">
                <input
                    type="submit"
                    value="Delete"
                    class="btn btn--delete-user"
                />
            </form>
        </div>
        <h3>Posts</h3>
        {% if posts %}
        <ul>
            {% for post in posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>You have not written any posts yet.</p>
        {% endif %}
        <a href="/users/{{user.id}}/posts/new" class="btn btn--add-post"
            >Add Post</a
        >
    </div>
</div>
{% endblock %}
